<!DOCTYPE html >
<html>
  <head>
    <title>Acclamation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/pure.css"/>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/acclamation.css"/>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/client.js"></script>
    <script type="text/javascript" src="/javascripts/base_emoji.js"></script>
    <script type="text/javascript" src="/javascripts/emoji.js"></script>
  </head>
  <body>
    <section id="loader" class="loader">
      Loading...
    </section>
    <section id="temperature" style="display: none;">
      <h1>How are things?</h1>
      <p>
        Rate your experience since the last retrospective.
      </p>
      <div id="temperature_form">
        <div class="btn-group">
          <button id="temperature_rating_5" class="pure-button pure-input-1-5" value="5">5</button>
          <label for="temperature_rating_5">I &lt;3 my job!</label>
        </div>
        <div class="btn-group">
          <button id="temperature_rating_4" class="pure-button pure-input-1-5" value="4">4</button>
          <label for="temperature_rating_4">I'm pretty happy</label>
        </div>
        <div class="btn-group">
          <button id="temperature_rating_3" class="pure-button pure-input-1-5" value="3">3</button>
          <label for="temperature_rating_3">Things aren't bad</label>
        </div>
        <div class="btn-group">
          <button id="temperature_rating_2" class="pure-button pure-input-1-5" value="2">2</button>
          <label for="temperature_rating_2">Things aren't great</label>
        </div>
        <div class="btn-group">
          <button id="temperature_rating_1" class="pure-button pure-input-1-5" value="1">1</button>
          <label for="temperature_rating_1">I don't want to live on this planet anymore</label>
        </div>
      </div>
    </section>
    <section id="addcard" class="hidden">
      <button id="add_card_btn" class="pure-button pure-button-primary">+ New Card</button>
    </section>
    <section id="voteheader" class="hidden">
      <div id="voteinstructions">
        Tap to vote<br/>
        2&times;tap to unvote</br>
      </div>
      <div id="votestatus">0 votes left</div>
    </section>
    <form id="cardform" class="hidden">
      <div class="btn-group" id="cardtopics">
        <button id="card_topic_happy" class="pure-button pure-input-1" value="happy">
          <i class="fa fa-2x fa-smile-o"></i>
          Something Good
        </button>
        <button id="card_topic_sad" class="pure-button pure-input-1" value="sad">
          <i class="fa fa-2x fa-frown-o"></i>
          Something Bad
        </button>
        <button id="card_topic_idea" class="pure-button pure-input-1" value="idea">
          <i class="fa fa-2x fa-lightbulb-o"></i>
          An Idea
        </button>
        <button id="card_topic_shoutout" class="pure-button pure-input-1" value="shoutout">
          <i class="fa fa-2x fa-bullhorn"></i>
          A Shoutout
        </button>
      </div>
      <div>
        <textarea id="card_title" class="emoji-autocomplete" placeholder="Go on..." class="hidden"></textarea>
      </div>
      <div>
        <button type="submit" class="pure-button small save">
          <i class="fa fa-check-circle"></i>
          Save
        </button>
        <button class="pure-button small cancel">
          <i class="fa fa-times-circle"></i>
          Close
        </button>
      </div>
    </form>
    <section id="cardwall" class="hidden">
    </section>
  </body>
</html>
