<!DOCTYPE html >
<html>
  <head>
    <title>Acclamation Moderator</title>
    <link rel="stylesheet" type="text/css" href="/static/pure.css"/>
    <link rel="stylesheet" type="text/css" href="/static/acclamation.css"/>
    <style type="text/css">
      #left-column section {
        text-align: center;
      }
      #left-column section#vote-results {
      }
      #left-column section#clock {
        font-size: 5em;
        font-weight: bold;
        padding: 0.5em 0;
      }
    </style>
    <script type="text/javascript" src="/static/acclamation.js"></script>
    <script type="text/javascript" src="/_js/socket.io.js"></script>
    <script type="text/javascript">
      $(function() {
        window.acclamation = {
          heightAdapter: (new Acclamation.HeightAdapter()),
          clock: (new Acclamation.Clock("#clock")),
          temperature: (new Acclamation.Temperature("#temperature"))
        };
      });
    </script>
  </head>
  <body>
    <div class="pure-g">
      <div id="left-column" class="pure-u-1-5">
        <section id="qr-code">
          <img src="/session/qr_code" alt="QR code to join the retro"/>
        </section>
        <section id="temperature-section">
          <canvas id="temperature"></canvas>
        </section>
        <section id ="clock"></section>
      </div>
      <div id="content" class="pure-u-4-5">
        <section id="cards"></section>
      </div>
    </div>
  </body>
</html>
