<!DOCTYPE html >
<html>
  <head>
    <title>Acclamation Moderator</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/pure.css"/>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/acclamation.css"/>
    <style type="text/css">
      #left-column section {
        text-align: center;
      }
      #left-column section#vote-results {
      }
      #left-column section#clock {
        font-size: 5em;
        font-weight: bold;
        padding: 0.5em 0;
      }
    </style>
    <script type="text/javascript" src="/javascripts/acclamation.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
      $(function() {
        window.acclamation = {
          heightAdapter: (new Acclamation.HeightAdapter()),
          clock: (new Acclamation.Clock("#clock")),
          temperature: (new Acclamation.Temperature("#temperature")),
          cardWall: (new Acclamation.CardWall()),
          menu: (new Acclamation.Menu())
        };
      });
    </script>
  </head>
  <body>
    <menu class="pure-menu pure-menu-open pure-menu-horizontal">
      <ul>
        <li><a href="#">Open Voting</a></li>
        <li><a href="#">End Session</a></li>
      </ul>
    </menu>
    <div id="moderator" class="pure-g">
      <div id="left-column" class="pure-u-1-5">
        <section id="qr-code">
          <img src="/session/qr_code" alt="QR code to join the retro"/>
        </section>
        <section id="temperature-section">
          <canvas id="temperature"></canvas>
        </section>
        <section id ="clock"></section>
      </div>
      <div class="card-column pure-u-1-5">
        <header class="card-header">
          <i class="fa fa-2x fa-smile-o"></i>
        </header>
        <section id="cards-happy"></section>
      </div>
      <div class="card-column pure-u-1-5">
        <header class="card-header">
          <i class="fa fa-2x fa-frown-o"></i>
        </header>
        <section id="cards-sad"></section>
      </div>
      <div class="card-column pure-u-1-5">
        <header class="card-header">
          <i class="fa fa-2x fa-lightbulb-o"></i>
        </header>
        <section id="cards-idea"></section>
      </div>
      <div class="card-column pure-u-1-5">
        <header class="card-header">
          <i class="fa fa-2x fa-bullhorn"></i>
        </header>
        <section id="cards-shoutout"></section>
      </div>
    </div>
  </body>
</html>
