<!DOCTYPE html >
<html>
  <head>
    <title>Acclamation Moderator</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/pure.css"/>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/acclamation.css"/>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/moderator.js"></script>
  </head>
  <body>
    <menu class="pure-menu pure-menu-open pure-menu-horizontal hidden">
      <ul>
        <li><a href="#" class="session-state" rel="allowNewCards" data-state="false">Close to New Cards</a></li>
        <li><a href="#" class="session-state" rel="allowNewCards" data-state="true">Open to New Cards</a></li>
        <li><a href="#" class="session-state" rel="allowVoting" data-state="false">Close Voting</a></li>
        <li><a href="#" class="session-state" rel="allowVoting" data-state="true">Open Voting</a></li>
        <li><a href="/session/<%= session.id %>/end" class="end-session">End Session</a></li>
      </ul>
    </menu>
    <div id="moderator" class="pure-g">
      <div id="left-column" class="pure-u-1-5">
        <section id ="clock">&nbsp;</section>
        <section id="qr-code">
        <img src="/session/<%= session.id %>/qr_code" alt="QR code to join the retro"/>
        </section>
        <section id="temperature-section">
          <canvas id="temperature"></canvas>
        </section>
      </div>
      <div class="card-column pure-u-1-5">
        <header class="card-header">
          <i class="fa fa-2x fa-smile-o"></i>
        </header>
        <section id="cards-happy"></section>
      </div>
      <div class="card-column pure-u-1-5">
        <header class="card-header">
          <i class="fa fa-2x fa-frown-o"></i>
        </header>
        <section id="cards-sad"></section>
      </div>
      <div class="card-column pure-u-1-5">
        <header class="card-header">
          <i class="fa fa-2x fa-lightbulb-o"></i>
        </header>
        <section id="cards-idea"></section>
      </div>
      <div class="card-column pure-u-1-5">
        <header class="card-header">
          <i class="fa fa-2x fa-bullhorn"></i>
        </header>
        <section id="cards-shoutout"></section>
      </div>
    </div>
  </body>
</html>
