<!DOCTYPE html >
<html>
  <head>
    <title>Start Acclamation Session</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/pure.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/acclamation.css"/>
    <script type="text/javascript" src="/javascripts/acclamation.js"></script>
  </head>
  <body class="message">
    <div class="pure-g">
      <div class="pure-u-md-1-5"></div>
      <div id="prompt" class="pure-u-1 pure-u-md-3-5 message-box">
        <h1>Session In Progress</h1>
        <p>
          There is already a retrospective session in progress, so Acclamation cannot start a new one.
          You can join the current session, or you must wait for the current session to end before beginning a new session.
        </p>
        <p>
          <a href="/moderator/<%= session.id() %>" class="pure-button pure-button-primary r-button-sm">Join as Moderator</a>
          <a href="/client/<%= session.id() %>" class="pure-button r-button-sm">Join as Participant</a>
        </p>
      </div>
    </div>
  </body>
</html>
