<!DOCTYPE html >
<html>
  <head>
    <title>Start Acclamation Session</title>
    <link rel="stylesheet" type="text/css" href="/static/pure.css"/>
    <link rel="stylesheet" type="text/css" href="/static/acclamation.css"/>
    <script type="text/javascript" src="/static/acclamation.js"></script>
  </head>
  <body class="message">
    <div class="pure-g">
      <div id="prompt" class="pure-u-2-5 centered message-box">
        <h1>No Session Found</h1>
        <p>
          Start a new retrospective session to being using Acclamation.
        </p>
        <p>
          <a href="/session/start" class="pure-button pure-button-primary">Start Session</a>
        </p>
      </div>
    </div>
  </body>
</html>
